pkgbase = linux-aarch64-rockchip-armbian-git
	pkgver = 6.8.6.r86.0b0384.734967
	pkgrel = 1
	url = https://kernel.org
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = vboot-utils
	makedepends = dtc
	options = !strip
	source = https://mirrors.tuna.tsinghua.edu.cn/kernel/v6.x/linux-6.8.6.tar.gz
	source = git+https://github.com/armbian/build.git
	source = custom_reconfig
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 5491e2c4d69b37a8fc8761e128cef89b3406754850c71486e86f7bdba5daf855574e191b2f4d75c654a80eff33ea5249efc9ad6a97d9805cee9e5a80ed93c302

pkgname = linux-aarch64-rockchip-armbian-git
	pkgdesc = The linux kernel, with patches picked from armbian on RK3588
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-armbian-git-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel, with patches picked from armbian on RK3588
	depends = python
