pkgbase = linux-aarch64-rockchip-armbian-git
	pkgver = 6.14.rc6
	pkgrel = 1
	url = https://kernel.org
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = vboot-utils
	makedepends = dtc
	options = !strip
	source = linux-stable::git+https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git#branch=master
	source = git+https://github.com/armbian/build.git
	source = local.config
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 9ec050e491788b8428395fc28b6d8486d64d314d8b85e97d8df30a35bd7b85d2ed84682e7b2eaed7b471b73aa51119e360761a099719eed9952713e0caba17ce

pkgname = linux-aarch64-rockchip-armbian-git
	pkgdesc = The linux kernel, with patches picked from armbian for Rockchip
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-armbian-git-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel, with patches picked from armbian for Rockchip
	depends = python
